{% extends 'adminbase.html' %}
{% block content %}
      <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Notifications</h4>
              <p class="card-category">Here you will show all Contact info.</a>
              </p>
            </div>
            <div class="card-body">
              {% if contacts %}
              <div class="row">
                <div class="col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                      <th class="text-white">ID</th>
                      <th class="text-white">First Name</th>
                      <th class="text-white">Last Name</th>
                      <th class="text-white">Email</th>
                      <th class="text-white">Phone</th>
                      <th class="text-white">Comments</th>
                      <th class="text-white">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for contact in contacts %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ contact.fname }}</td>
                        <td>{{ contact.lname }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phone }}</td>
                        <td>{{ contact.comments }}</td>
                        <td><a href="{% url 'deletecontact' contact.id %}"> <i class="material-icons">delete</i></a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              {% endif %}

          </div>
        </div>
      </div>
{% endblock %}