{% extends 'base.html' %}

{% block content %}

<div class="container mt-3">
    <h2 class="text-center text-info">About <a href="{% url 'home' %}">EBazar.com</a> </h2>
    <p class='text-justify'>
        EBazar does not just sell lifestyle products, EBazar is here to become a lifestyle!

Be it simple, casual or luxurious; trendy, unique or traditional, EBazar presents you all. Daily lives, occasions, needs and necessities, celebrations, desires and wish lists – EBazar checks it all off. We believe life is not made up of days but each day is a realm of life, where every second is a different color and every color represents EBazar! 


Our prime focus is the youth, referred colloquially as the “EBazar generation” and we are here to be a part of their lives, not just by selling the brands which rest under their hood but also by writing a part of their daily life stories.

EBazar is that little spark of fun springing out of a droning afternoon, that unconscious twist of hair made while losing yourself in thoughts of wonderland, rocking the floor with confidence being no one but yourself or the three sips of tea turning into a moment of a lifetime with the right people – it is all EBazar.


The rebranded face of Akhoni.com, the first e-commerce platform to enter the Bangladesh market back in 2010 took form of EBazar, with promises of the grandest of online shopping experiences across the country.
    </p>
</div>

{% endblock %}